.logo {
  a {
    display: block;
    width: 130px;
  }

  img {
    width: 100%;
  }
}

.usa-disclaimer {
  font-size: 0.8em;

  .usa-grid {
    padding: 0;
  }
}

.usa-disclaimer-official{
  padding-left:2rem;
}
.usa-disclaimer-stage {
  padding-right:3rem;
}
